@font-face {
  font-family: "LucidaGrande-Regular";
  src: url("../assets/fonts/LucidaGrande.ttf");
}

@font-face {
  font-family: "LucidaGrande-Bold";
  src: url("../assets/fonts/LucidaGrandeBold.ttf");
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial.ttf");
}

@font-face {
  font-family: "Arial-Bold";
  src: url("../assets/fonts/ArialBold.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/HelveticaNeueRegular.ttf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../assets/fonts/HelveticaBold.ttf");
}

@font-face {
  font-family: "Helvetica-Medium";
  src: url("../assets/fonts/HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../assets/fonts/HelveticaNeueLight.ttf");
}

$blue: #4671ff;
$light-blue: #2699fb;
$gray: #525f7f;
$paleturquoise: #bce0fd;
$flowerblue: #6485fa;
